# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# =========================
# Node / Frontend (на будущее)
# =========================
node_modules/
dist/
build/

# =========================
# OS / Editors
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Env / Secrets
# =========================
.env
.env.*
*.pem
*.key
id_rsa
id_rsa.pub

# =========================
# Docker (на будущее)
# =========================
docker-compose.override.yml

# =========================
# Kubernetes (секреты!)
# =========================
kubeconfig*
admin.conf

# =========================
# Misc
# =========================
*.swp
*.swo
